{% extends 'index.html' %}
{% block title %}
        <title>создать пост</title>
{% endblock %}
{% block content %}
   <p>{{ add_post }}</p>

<form class="contact_form" action="{{url_for('create') }}" method="post" name="contact_form">

<ul>
    <li>
         <h2>Contact Us</h2>
         <span class="required_notification">* Denotes Required Field</span>
    </li>
    <li>
        <label for="name">Заголовок </label>
        <input type="text" name="title" required  />

    </li>

        <li>
        <label for="name">Содержание </label>
        <input type="textarea" name="content"  required />

    </li>
   <p><b>выбрать теги</b></p>
    {% for t in tag %}
    <p><input  type="checkbox" name="{{t.slug}}"> {{t.name}}</p>

    {% endfor %}
    <input type="submit" >
</ul>
</form>
{% endblock %}